.container {
    width: 100%;
    height: 980px;
    background-image: url(/src/pages/images/Illustration.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y:top ;
    background-size: 60%;
    display: flex;
    flex-direction: column;
}

navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    color: rgb(62, 153, 62);
    font-size: 40px;
}

.lista {
    display: flex;
    list-style: none;
    color: white;
    gap: 1em;
    align-items: center;
}

.lista li button {
    width: 140px;
    height: 60px;
    color: rgb(79, 158, 79);
    background-color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 15px;
}

.main {
    width: 40%;
    margin-top: 10em;
}

.main h1 {
    text-align: start;
    width: 50%;
    font-size: 60px;
    margin-left: 2em;
    color: rgb(0, 0, 117);
}

.input {
    display: flex;
    margin-left: 7em;
    gap: 1em;
    align-items: center;
}

.input input {
    width: 400px;
    margin-top: 2em;
    height: 50px;
    border-radius: 10px;
    display: flex;
    border: 2px solid darkblue;
    font-size: 20px;
    padding-left: 0.5em;
}

.lupa {
    background-color: rgb(110, 192, 110);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4em;
    border-radius: 10px;
}


@media screen and (max-width: 800px){
    
    .container {
        background-size: 80%;
    }

    navbar {
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }

    .lista {
        font-size: 15px;
    }

    .lista li button {
        width: 90px;
        margin-right: 1em;
        font-size: 15px;
        height: 40px;
    }

  .link {
      cursor: pointer;
  }
   

    .logo {
        font-size: 15px;
    }

   .main {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .main h1 {
       text-align: start;
       width: 400px;
       margin-top: 10em;
       font-size: 40px;
       margin-left: 7em;
   }

   .input input {
       width: 300px;
   }
}


@media screen and (max-width: 1200px) {

    .lista li {
        font-size: 20px;
    }

    .main {
        width: 700px;
        height: 600px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .lupa {
        width: 70px;
    }
}