.terceiraParte {
    height: 1100px;
    font-size: 25px;
    background-image: url(/src/pages/images/bloco_services.svg);
    background-repeat: no-repeat;
    background-position-x:left;
    background-position-y: center;
    background-size: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main {
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 600px;
    font-size: 30px;
}

.main h1 {
    width: 600px;
    font-size: 55px;
}

.main button {
    width: 170px;
    height: 70px;
    background-color: rgb(79, 158, 79);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 15px;   
}

@media screen and (max-width: 800px) {
    .terceiraParte {
    
    }
}

@media screen and (max-width: 1200px)  {
    .terceiraParte{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-size: 60%;
        background-position-y: top;
        height: 535px;
    }
    .main {
        padding-left: 24em;
    }
    .main h1 {
        font-size: 25px;
        width: 400px;
    }

    .main p {
        font-size: 15px;
        width: 400px;
    }
}